# Socket io Version 2
# https://socket.io/docs/v2
redis

# For API request, needed more for checking health status and 
# future changes
flask

# For reading .env files
python-decouple

# For transcribing audio data
openai==0.27.0

# Generated audio
elevenlabs==0.2.24

# Lang chain
langchain

# 